div {
  text-align: justify;
  text-justify: inter-word;
}

.story-text {
    white-space: pre-line;
}

.generated-image-container {
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.userchoice {
  font-weight: bolder;
  text-decoration: underline;
}

.story-box {
  padding: 20px;
  max-width: 700px;
  margin: 20px auto;
  border: 1px solid #110e0e;
  border-radius: 10px;
  background-color: #1d1818;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
  
.story-box button:hover {
  background-color: #836fff;
}

.userchoice {
  font-weight: bolder;
  text-decoration: underline;
}

.story-text {
  white-space: pre-line;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

button {
  padding: 10px 20px; 
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}